.button {
  background: white;
  border: 2px solid #EEE;
  display: inline-block;

  padding: 7px 9px;

  cursor: pointer;
  color: black;
  font-size: 0.7em;
  font-weight: 400;
  text-transform: uppercase;

  transition: all 0.3s;

  &:hover {
    border: 2px solid black;
  }

  &:active {
    background: black;
    border: 2px solid black;

    color: white;
  }

  &:disabled,
  &--disabled {
    opacity: 0.2;
  }

  &--padded {
    margin-left: 5px;
  }
}

.confirmation-button {
  display: inline-block;
}