$loading-base-line-height: 32px;
$loading-black: rgb(0, 0, 0);
$loading-off-black: rgba($loading-black, 0.2);
$loading-spin-duration: 1s;
$loading-pulse-duration: 750ms;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  padding: 25px;

  div {
    border-radius: 50%;
    width: $loading-base-line-height;
    height: $loading-base-line-height;
    border: .25rem solid $loading-off-black;
    border-style: double;
    border-top-color: $loading-black;
    animation: spin $loading-spin-duration infinite linear;
  }
}