@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
html {
  height: 100%;
  color: #444;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  height: 100%; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template, [hidden] {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: inherit;
  text-decoration: none; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button, input, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

a, input:focus, textarea:focus {
  outline: 0; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

.button {
  background: white;
  border: 2px solid #EEE;
  display: inline-block;
  padding: 7px 9px;
  cursor: pointer;
  color: black;
  font-size: 0.7em;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s; }
  .button:hover {
    border: 2px solid black; }
  .button:active {
    background: black;
    border: 2px solid black;
    color: white; }
  .button:disabled, .button--disabled {
    opacity: 0.2; }
  .button--padded {
    margin-left: 5px; }

.confirmation-button {
  display: inline-block; }

.button-primary {
  background: #4162FF;
  display: inline-block;
  padding: 12px 16px;
  border: 0;
  border-radius: 32px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.25s cubic-bezier(0, 0, 0.3, 0.5);
  cursor: pointer;
  color: white;
  font-size: 0.8em;
  font-weight: 300;
  text-transform: uppercase; }
  .button-primary:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: white; }
  .button-primary-extra-margin {
    margin: 8px auto; }
  .button-primary-small {
    font-size: 0.6em;
    padding: 6px 8px; }

.input,
.elm-datepicker--input {
  width: 100%;
  margin: 4px 0;
  padding: 5px 7px;
  box-sizing: border-box;
  color: #666;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  border: 1px solid #F2F2F2;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD; }
  .input:focus,
  .elm-datepicker--input:focus {
    border: 1px solid #CCC; }

.errors .input,
.input--error {
  border: 1px solid #CC0000;
  border-right: 1px solid #AA0000;
  border-bottom: 1px solid #AA0000; }

.form-group {
  max-width: 500px;
  padding: 5px; }
  .form-group--no-top-padding {
    padding-top: 0; }

.input-group {
  display: flex;
  flex-direction: row;
  padding: 5px 0; }
  .input-group__label, .input-group__spacer {
    flex: 0 1 120px;
    padding: 6px 0;
    font-size: 0.9em;
    font-weight: 300; }
  .input-group__input {
    flex: 3 1 auto; }
  .input-group__error {
    display: block;
    width: 100%;
    padding: 5px 0;
    color: #AA0000;
    font-size: 0.8em;
    font-weight: 400; }

.input,
.elm-datepicker--input {
  width: 100%;
  margin: 4px 0;
  padding: 5px 7px;
  box-sizing: border-box;
  color: #666;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  border: 1px solid #F2F2F2;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD; }
  .input:focus,
  .elm-datepicker--input:focus {
    border: 1px solid #CCC; }

.errors .input,
.input--error {
  border: 1px solid #CC0000;
  border-right: 1px solid #AA0000;
  border-bottom: 1px solid #AA0000; }

.receipt {
  width: 600px;
  margin: 0 auto;
  padding: 2em 0; }
  .receipt__header {
    margin: 2em 0;
    padding: 1em 0;
    border-bottom: 1px solid #F9F9F9;
    color: black;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center; }
  .receipt__items {
    width: 100%; }
    .receipt__items td {
      padding: 10px 15px;
      border-bottom: 1px solid #DDD; }
      .receipt__items td:nth-child(2) {
        font-weight: bold; }

.find-team {
  overflow: hidden;
  width: 245px;
  margin: 0 auto 16px auto; }
  .find-team__subdomain {
    float: left; }
  .find-team__domain {
    float: left;
    padding: 8px 2px;
    font-size: 0.8em;
    font-weight: 300; }

.sign-in-form {
  width: 320px;
  margin: 0 auto; }

body {
  height: auto; }

a:hover {
  color: #4162FF; }

.ib-underlined {
  display: inline-block;
  padding: 8px 0;
  border-bottom: 1px solid #EEE; }

.block-centered {
  text-align: center; }

.container {
  overflow: hidden;
  position: relative;
  max-width: 960px;
  margin: 0 auto; }

.nav {
  overflow: hidden;
  border-bottom: 1px solid #EEE;
  box-shadow: 5px 3px 12px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }
  .nav__logo {
    float: left; }
    .nav__logo img {
      width: 24px;
      margin-right: 2px;
      margin-bottom: -5px; }
    .nav__logo a {
      display: block;
      padding: 10px 0;
      color: black;
      font-size: 1em;
      font-weight: 400;
      text-transform: uppercase; }
  .nav__items {
    list-style-type: none;
    float: right;
    overflow: hidden;
    margin: 16px 0;
    padding: 0; }
    .nav__items__item {
      float: left; }
      .nav__items__item a {
        display: block;
        padding: 0px 7px;
        font-size: 0.8em;
        text-transform: uppercase; }

.hero {
  height: 320px; }
  .hero__title {
    margin: 64px 0 16px 0;
    text-align: center; }
  .hero__summary {
    margin: 0 auto 32px auto;
    width: 60%;
    font-weight: 300;
    text-align: center; }

.content {
  margin-top: 47px; }

.row {
  display: flex; }
  .row__title {
    cursor: default;
    padding: 16px 0;
    font-size: 1.2em;
    font-weight: 400; }
    .row__title-centered {
      text-align: center; }
  .row-bordered {
    border-top: 1px solid #EEE; }
  .row-page-content {
    margin: 16px auto 32px auto;
    width: 80%; }

.column {
  flex: 1 1 auto; }
  .column-33 {
    flex: 1 1 33%; }

.plan-selector {
  text-align: center;
  margin: 0 0 32px 0; }
  .plan-selector__button {
    display: inline-block;
    width: 60px;
    margin: 0 0 0 -0.5em;
    padding: 5px 7px;
    background: white;
    border: 1px solid #EEE;
    border-radius: 0 16px 16px 0;
    cursor: pointer;
    color: #999;
    font-size: 0.6em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase; }
    .plan-selector__button-left {
      border-radius: 16px 0 0 16px;
      margin: 0 -0.5em 0 0; }
    .plan-selector__button-active {
      background: #4162FF;
      border: 1px solid #3C5AEB;
      color: white;
      text-shadow: 1px 1px 0 #3C5AEB; }

.plans {
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  margin: 0 auto 16px auto; }
  .plans-hidden {
    display: none; }
  .plans__plan {
    flex: 1 1 auto;
    margin: 32px 0 0 0;
    padding: 16px 32px;
    border: 1px solid #EEE; }
    .plans__plan__title, .plans__plan__summary {
      text-align: center; }
    .plans__plan__title {
      color: black;
      font-size: 1.2em;
      font-weight: 800; }
    .plans__plan__summary {
      padding: 8px 0;
      color: #454545;
      font-size: 1em;
      font-weight: 300; }
    .plans__plan__price {
      padding: 8px 0;
      text-align: center; }
      .plans__plan__price__price {
        color: black;
        font-size: 2.4em;
        font-weight: 800; }
        .plans__plan__price__price sup {
          font-size: 0.6em; }
        .plans__plan__price__price sub {
          font-size: 0.4em;
          font-weight: 400;
          vertical-align: middle; }
      .plans__plan__price__cycle {
        display: block;
        font-size: 0.8em;
        font-weight: 300; }
    .plans__plan__action_button {
      text-align: center;
      display: block;
      width: 100%; }
    .plans__plan-featured {
      margin: 0 -1px 0 -1px;
      padding-top: 24px;
      border: 1px solid #EBEBEB;
      box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.05); }

.feature {
  padding: 20px 15px 0 15px;
  box-sizing: border-box; }
  .feature i {
    display: block;
    color: #DDD;
    font-size: 3em;
    text-align: center; }
  .feature h1 {
    margin-top: 0;
    margin-left: 5px;
    font-size: 1.5em;
    text-align: center; }
  .feature p {
    text-align: center; }

.footer {
  border-top: 1px solid #BBB;
  padding: 16px 0;
  font-size: 0.8em;
  font-weight: 300; }
  .footer__nav {
    list-style-type: none;
    float: right;
    overflow: hidden; }
    .footer__nav__item {
      float: left; }
      .footer__nav__item a {
        display: block;
        padding: 0 7px; }

@media (min-width: 960px) {
  .plans {
    width: 80%; } }

@media (max-width: 768px) {
  .container {
    width: 92%; } }

@media (max-width: 470px) {
  .container {
    width: 87.5%; }
  .row {
    flex-direction: column; } }
