<div class="col {{if.Errors}}errors{{end}}">
  {{template "_fields/label" .}}
  <input type="email"
         id="{{.Name}}"
         name="{{.Name}}"
         value="{{.Value}}"
         {{if .Optional}}{{else}}required{{end}} />
  {{template "_fields/errors" .}}
</div>
