<div class="col {{if.Errors}}errors{{end}}">
  {{if .HideLabel}}
  {{else}}
    {{template "_fields/label" .}}
  {{end}}
  <input type="email"
         id="{{.Name}}"
         name="{{.Name}}"
         value="{{.Value}}"
         placeholder="{{.Placeholder}}"
         {{if .Optional}}{{else}}required{{end}}
         {{template "_fields/_attributes" .Attributes}} />
  {{template "_fields/errors" .}}
</div>
