You have been invited to join the Teamzones team for {{.Company.Name}}!

{{.Main.FullName}} ({{.Main.Email}}) has sent you this invitation.
You can follow this link to create your account {{.Location}}.
