<h1>You have been invited to join the Teamzones team for {{.Company.Name}}!</h1>

{{.Main.FullName}} ({{.Main.Email}}) has sent you this invitation.
You can follow this link to create your account {{.Location}}.
