You have made a request to reset your Teamzones password for the
"{{.Company.Name}}" team.  Please visit {{.Location}} to change your
password.

This URL will expire in two hours.  If you did not request this email,
please ignore it.
