{{define "title-about"}}About{{end}}

<div class="row row-page-content">
  <div class="column">
    <h1 class="row__title row__title-centered">
      <span class="ib-underlined">About</span>
    </h1>

    <h4>What is Teamzones?</h4>
    <p>
      Teamzones is a collaboration tool for distributed teams.  It
      helps you keep track of where your teammates are working from
      and what times they are working at relative to your local time.
      <a href="{{route "home"}}#product">Find out more about
      Teamzones.io</a>.
    </p>

    <h4>Need help with Teamzones?</h4>
    <p>
      If you've found an issue or have questions about your account,
      feel free to contact us at <a href="mailto:support@teamzones.io">support@teamzones.io</a>.
    </p>

    <h4>Need to contact us for some other reason?</h4>
    <p>
      Feel free to contact us at
      <a href="mailto:contact@teamzones.io">contact@teamzones.io</a>.

      We'd love to hear from you!
    </p>
  </div>
</div>
