{{define "title-contact"}}Contact{{end}}

<div class="row row-page-content">
  <div class="column">
    <h1 class="row__title row__title-centered">
      <span class="ib-underlined">Contact</span>
    </h1>
  </div>
</div>
