{{define "head-dashboard"}}
  <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/app.css" />
{{end}}

<div id="app">
</div>

<script src="/static/js/lib.js"></script>
<script src="/static/js/app.js"></script>
<script>
  init(Elm, document.getElementById("app"), {{.}});
</script>
