{{define "title-find-team-success"}} - Find your team{{end}}

<div class="row row-page-content">
  <div class="column">
    <h1 class="row__title row__title-centered">
      <span class="ib-underlined">Check your email</span>
    </h1>

    <div class="block-centered">
      <p>We've sent you an e-mail containing a list of all your teams.</p>
    </div>
  </div>
</div>
