<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Teamzones.io{{partial "title"}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet" />
    <link
        rel="stylesheet"
        type="text/css"
        href="{{asset "css/presentation.css"}}" />

    {{partial "head"}}
  </head>
  <body>
    <div class="nav">
      <div class="container">
        <div class="nav__logo">
          <a href="{{absRoute "home"}}">
            <img src="{{asset "images/logo.svg"}}" />
            Teamzones
          </a>
        </div>

        <ul class="nav__items">
          <li class="nav__items__item">
            <a href="{{absRoute "home"}}/#product">Product</a>
          </li>
          <li class="nav__items__item">
            <a href="{{absRoute "home"}}/#plans">Plans</a>
          </li>
          <li class="nav__items__item">
            <a href="{{route "sign-in"}}">Sign in</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="content">
      <div class="container">
        {{yield}}
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="column">
            <p>&copy;2016 <a href="{{route "home"}}">Teamzones.io</a></p>
          </div>

          <div class="column">
            <ul class="footer__nav">
              <li class="footer__nav__item">
                <a href="{{absRoute "about"}}">About</a>
              </li>
              <li class="footer__nav__item">
                <a href="{{absRoute "terms"}}">Terms</a>
              </li>
              <li class="footer__nav__item">
                <a href="{{absRoute "home"}}/#product">Product</a>
              </li>
              <li class="footer__nav__item">
                <a href="{{absRoute "home"}}/#plans">Plans</a>
              </li>
              <li class="footer__nav__item">
                <a href="{{route "sign-in"}}">Sign in</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {{template "_analytics"}}
  </body>
</html>
