<div class="nav">
  <div class="container">
    <div class="nav__logo">
      <a href="/">Teamzones</a>
    </div>

    <ul class="nav__items">
      <li class="nav__items__item">
        <a href="/#product">Product</a>
      </li>
      <li class="nav__items__item">
        <a href="/#plans">Plans</a>
      </li>
      <li class="nav__items__item">
        <a href="{{route "sign-in"}}">Sign in</a>
      </li>
    </ul>
  </div>
</div>
