{{define "title-recover-password-success"}} - Recover your password{{end}}

<div class="row row-page-content">
  <div class="column">
    <h1 class="row__title row__title-centered">
      <span class="ib-underlined">Check your email</span>
    </h1>

    <div class="block-centered">
      <p>We've sent you an email with instruction on how you can reset your password.</p>
    </div>
  </div>
</div>
