{{define "title-recover-password"}} - Reset your password{{end}}


<div class="row row-page-content">
  <div class="column">
    <h1 class="row__title row__title-centered">
      <span class="ib-underlined">Reset your password</span>
    </h1>

    <div class="block-centered">
      <p>Enter your email address to reset your password.</p>

      <form action="" method="post" class="sign-in-form">
        {{template "_fields/email" .Email}}

        <input type="submit"
               class="button-primary button-primary-extra-margin"
               value="Get reset link" />
      </form>
    </div>
  </div>
</div>
