{{define "title-reset-password"}} - Reset your password{{end}}

<div class="row row-page-content">
  <div class="column">
    <h1 class="row__title row__title-centered">
      <span class="ib-underlined">Change your password</span>
    </h1>

    <div class="block-centered">
      <p>Enter a new password to replace your old one.</p>

      <form action="" method="post" class="sign-in-form">
        {{template "_fields/password" .Password}}

        <input type="submit" class="button-primary button-primary-extra-margin" value="Change password" />
      </form>
    </div>
  </div>
</div>
