{{define "title-sign-in"}} - Sign In{{end}}

<div class="row">
  <div class="column">
    <form action="" method="post">
      {{template "_fields/email" .Form.Email}}
      {{template "_fields/password" .Form.Password}}

      <input type="submit" />
    </form>
  </div>
</div>
