{{define "title-sign-up"}} - Sign Up{{end}}

<form action="" method="post">
  <h1>Account information</h1>

  {{template "_fields/text" .CompanyName}}
  {{template "_fields/text" .CompanySubdomain}}
  {{template "_fields/text" .Name}}
  {{template "_fields/email" .Email}}
  {{template "_fields/password" .Password}}
  {{template "_fields/select" .Country}}
  {{template "_fields/hidden" .Timezone}}

  <h1>Payment information</h1>
  <div id="payment">
  </div>

  <input type="submit" id="submit-button" disabled="disabled" />
</form>

<script src="/static/js/braintree-2.24.1.min.js"></script>
<script src="/static/js/lib.js"></script>
<script>
  document.getElementById("timezone").value = moment.tz.guess();
  service.fetchBraintreeToken().then(function(token) {
    braintree.setup(token, "dropin", {
      container: "payment",
      onReady: function() {
        document.getElementById("submit-button").disabled = false;
      }
    })
  });
</script>
