{{define "title-team-sign-in"}} - Sign In{{end}}

<p>Enter your team's <strong>Teamzones domain</strong>.</p>

<form action="" method="post">
  {{template "_fields/text" .Subdomain}}.teamzones.io

  <input type="submit" />
</form>
