{{define "title-suspended"}} - Team Suspended{{end}}


<div class="row row-page-content">
  <div class="column">
    <h1 class="row__title row__title-centered">
      <span class="ib-underlined">Team Suspended</span>
    </h1>

    <p>Your team's subscription has expired. Please contact your account owner ({{.Email}}).</p>
  </div>
</div>
