{{define "title-sign-up"}} - Sign Up{{end}}

<form action="" method="post">
  {{if .Error}}
  <div class="error">
    {{.Error}}
  </div>
  {{end}}

  {{template "_fields/text" .Form.FirstName}}
  {{template "_fields/text" .Form.LastName}}
  {{template "_fields/email" .Form.Email}}
  {{template "_fields/password" .Form.Password}}
  {{template "_fields/hidden" .Form.Timezone}}

  <input type="submit" />
</form>

<script src="/static/js/lib.js"></script>
<script>
  document.getElementById("timezone").value = moment.tz.guess();
</script>
