{{define "title-terms"}}Terms of Serice{{end}}

<div class="row row-page-content">
  <div class="column">
    <h1 class="row__title row__title-centered">
      <span class="ib-underlined">Terms of Service</span>
    </h1>

    <p>
      CLEARTYPE S.R.L ("Cleartype") provides Teamzones (the "Service")
      and other related services subject to your compliance with the
      terms and conditions ("Terms of Service/TOS") set forth below.
    </p>

    <p>
      Cleartype reserves the right to update and modify the TOS at any
      time without notice. Updates and Features that might be added to
      the Service will be subject to the TOS. Should you continue to
      use the Service after any modifications, this will constitute
      your agreement to such modifications.
    </p>

    <h5>1. Description of the Service</h5>
    <p>
      Teamzones is a web-based team management service. Your use of the
      Service is your sole risk. The service is provided on "as is"
      and "as available" basis, however Teamzones will do all it can
      to provide you with a 99.9% uptime of the service.
    </p>

    <h5>2. Eligibility</h5>
    <p>
      You must be at least 13 years old to use this Service. You must
      provide a valid email address, and any other required
      information to complete the sign-up process. You are responsible
      for maintaining the privacy and security of your account.
    </p>

    <h5>3. Payment Terms</h5>
    <p>
      You need a valid credit card to use the service. The service is
      billed in advance on a monthly or yearly basis and is
      non-refundable. There will be no refunds or credits for partial
      months of service, upgrade/downgrade accounts, or for months
      unused with an open account. All fees are exclusive of all taxes
      or duties imposed by governing authorities. You alone are
      responsible for payment of all such taxes or duties. In case of
      an upgrade or downgrade of your account, your credit card will
      be charged with the new amount in the next billing cycle (on the
      date you have upgraded your account).
    </p>

    <h5>4. Modification to Fees and Services</h5>
    <p>
      Cleartype reserves the right to change Service fees upon 30 days
      notice from us. Cleartype reserves the right to discontinue the
      Service of any account upon 30 days notice by us.
    </p>

    <h5>5. Your Responsibility</h5>
    <p>
      You will indemnify and hold Cleartype and its affiliates, agents
      and employees harmless from and against any and all loss,
      liability, and expense (including reasonable attorney's fees)
      suffered or incurred by reason of any claims, proceedings or
      suits based on or arising out of the use of the Service.
    </p>

    <h5>6. Cancellation and Termination</h5>
    <p>
      You are solely responsible for the proper cancellation of your
      account. You can cancel your account at any time by clicking the
      "Cancel Subscription" button and following the on-screen instructions
      on your company settings page. Any other way of communicating
      cancellations is not considered. There will be no refund if you
      cancel the Service before the end of your current, paid-up
      month, and you will not be charged thereafter. There is no
      cancellation fee. Cancellation is immediate, and all of your
      Content will be immediately deleted from our records.
    </p>

    <p>
      The TOS constitutes the entire agreement between you and
      Cleartype and governs your use of the Service.
    </p>

    <p><em>Last updated on June 20th, 2016</em></p>
  </div>
</div>
